html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	box-sizing: border-box;
}

.container {
	margin: 0 1.25em;
}

/* Typography*/

h1 {
	font-size: 2rem; /* 32px */
}

.hero h1 {
	margin: 0.25em 0;
}

h2 {
	font-size: 1.5rem; /* 24px */
	margin: 0.375em 0; /* 9px */
}

/* Header */

.header-container {
	height: 59px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo-and-blog-name {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 3px;
}

.logo {
	width: 1.45em;
	height: 1.45em; /* 23.16px / 16px */
}

.blog-name {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 0.85rem; /* 13.55px/16px */
	line-height: 108.2%; /* 14.664px */
	letter-spacing: -0.407px;
}

.menu {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 20px;
}

.menu li {
	list-style: none;
}

.menu a {
	font-size: 0.75rem; /* 12px */
	font-weight: 600;
	color: #090909;
	text-transform: uppercase;
	text-decoration: none;
}

/* Hero */

.hero {
	color: #ffffff;
	background-image: url('/img/article-image-hero.png');
	height: 293px;
	background-size: cover;
	padding-top: 1px;
}

.hero-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.article-date-hero {
	font-size: 0.75rem; /* 12px */
	font-weight: 400;
	line-height: normal;
	margin: 0.67em 0;
}

.article-preview-hero {
	font-weight: 400;
	margin-top: 0.5em; /* 8px */
	margin-bottom: 1.5625em; /* 25px */
}

/* Recent posts */

.recent-posts {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.recent-post {
	margin-top: 2.125em; /* 34px */
	margin-bottom: 0.4375em; /* 7px */
}

.date {
	font-size: 0.875rem; /* 14px/16px */
}

img {
	width: 100%;
}

.view-more {
	color: #000;
	text-align: center;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-decoration-line: underline;
	margin-top: 0.3em;
	margin-bottom: 3em;
}

/* Footer */

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 105px;
	background: #202020;
	text-align: center;
}

.footer-blog-name {
	color: #ececec;
	font-size: 0.75rem; /* 12px */
	font-weight: 700;
	line-height: 108.2%; /* 12.984px */
	letter-spacing: -0.36px;
	margin: 0.4em;
}

.copyright {
	color: #d7d7d7;
	font-style: normal;
	font-size: 0.75rem; /* 12px */
	font-weight: 400;
	line-height: 125%; /* 15px */
	margin: 0.4em;
}

@media (min-width: 500px) {
	/* Typography*/

	h1 {
		font-size: 2.5rem; /* 40px */
	}

	/* Header */

	.logo {
		width: 2.14em;
		height: 2.14em; /* 34.25px/16px */
	}

	.blog-name {
		font-size: 1.25rem; /* 20px/16px */
		letter-spacing: -0.601px;
	}

	.header-container {
		height: 83px;
	}

	.menu a {
		font-size: 1rem; /* 16px */
	}

	/* Hero */

	.hero {
		height: 488px;
	}

	.article-date-hero {
		font-size: 1rem; /* 16px */
	}

	.recent-posts {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 1.625em; /* 26px/16px*/
	}
}
